/milesbone-redis/.settings/org.eclipse.jdt.core.prefs
/milesbone-redis/.settings/org.eclipse.m2e.core.prefs
/milesbone-redis/.settings/org.eclipse.wst.common.component
/milesbone-redis/.settings/org.eclipse.wst.common.project.facet.core.xml
/milesbone-redis/.settings/org.eclipse.wst.validation.prefs
/milesbone-redis/.settings/org.eclipse.core.resources.prefs
/milesbone-common/.settings/org.eclipse.wst.validation.prefs
