<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- redis 集群默认配置 -->
	<bean id="redisConfig" class="com.milesbone.cache.redis.config.DefaultRedisConfig" />

	<!-- redis 集群Spring配置 -->
	<bean id="springResourceRedis" class="com.milesbone.cache.redis.config.SpringResourceRedisConfig">
		<constructor-arg name="addressConfig">
			<value>classpath:redis.properties</value>
		</constructor-arg>
		<constructor-arg name="addressKeyPrefix" value="cluster.redis"/>
	</bean>

	<bean id="jedisCluster" class="com.milesbone.cache.redis.factory.JedisClusterFactory">
		<property name="redisConfig" ref="springResourceRedis" />
	</bean>

	<bean id="redisCache"
		class="com.milesbone.cache.redis.service.impl.RedisClusterCacheImpl">
		<property name="jedisCluster" ref="jedisCluster"/>
	</bean>

</beans>
